<!DOCTYPE html>
<html>
  <head>
    <title>GistClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <header>
    <div class="header-wrapper" id="myHedaer">
    <h1 id="logo">GistClone</h1>
    <input  id="search-bar" type="text" placeholder="Search...">
   </div> <!--end header-wrapper -->
    </header>
    <!-- the yield keyword will render another template and insert the result into this layout.-->
    <%= yield %>
  </div>  <!-- end container -->
  </body>
</html>
