<!DOCTYPE html>
<html>
  <head>
    <title>GistClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
      <div class="header-wrapper" id="myHedaer">
      <h1 id="logo">GistClone</h1>
      <input  id="search-bar" type="text" placeholder="Search...">

      <ul class="nav">

        <li class="all-gists"><%= link_to 'All Gists', posts_path %></li>
        <!-- <li><a class="all-gists" href="">All Gists</a></li> -->
        <li><a class="github" href="https://github.com/">GitHub</a></li>
        <li class="new_post"><%= link_to 'New Post', new_post_path %></li>
      </ul>
      </div> <!--end header-wrapper -->

      </header>

    <!-- the yield keyword will render another template and insert the result into this layout.-->
    <%= yield %>
    <div class="content">
      </div>     <!--end class content -->
  </div>  <!-- end container -->
  </body>
  <footer>
    <p class="footer">Made with &#10084; by Sanaz 2018</p>
  </footer>
</html>
